/*- 1 - BASE --- */

/* Helper Classes */

.clearfix:after {
	content: "";
	display: table;
	clear: both;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px); }


.hidden-from-everyone {
	display: none;
}

/* Resets */

*, *:before, *:after {
	box-sizing: border-box;
}

body {
	margin: 0;
}

body>header h1, body>header .tagline, body>header section, body>footer {
	padding-left: 1em;
	padding-right: 1em;
}

main {
	padding: 1em;
}

address {
	font-style: normal;
}

body>header address dd {
	margin-left: 0;
}

/* Typography */

body {
	font-family: "Open Sans", sans-serif;
	font-size: 150%;
	line-height: 1.8;
}

.social-media-links dt {
	font-weight: 600;
}

body>header, body>footer {
	text-align: center;
}

/*closes BASE*/

/*- 2 - LAYOUT --- */

main>section, article {
	margin-bottom: 1em;
}

/*closes LAYOUT*/

/*- 3 - MODULES --- */

/* Major Navigation */

.major-navigation {
	width: 100%;
	padding: 24px 0;
	border: 1px solid #000;
	border-left: none;
	background-color: #EDEDED;
	text-align: initial;
	position: absolute;
	top: 0;
	left: 0;
}

.major-navigation > ul {
	margin-left: auto;
	margin-right: auto;
	padding-left: 0;
	list-style-type: none;
}

.major-navigation li {
	margin-right: 24px;
}

.major-navigation > ul a {
	padding-top: 24px;
	padding-bottom: 24px;
	padding-right: 24px;
	border: 1px solid #000;
	border-left: none;
	background-color: #fff;
	text-align: right;
	text-decoration: none;
	display: block;
}

.major-navigation > ul li:nth-of-type(2) a {
	border-top: none;
	border-bottom: none;
}

.major-navigation > ul a:focus, .major-navigation > ul a:hover {
	text-decoration: underline;
}

/* Major Navigation Controls */

.navigation-toggle-button {
	font-size: 0;
	text-decoration: none;
	position: absolute;
	top: 12px;
	right: 24px;
}

.navigation-toggle-button:before {
	content: "\2630";
	font-size: initial;
	opacity: 1;
	transition: opacity 0.4s ease-in;
}

.navigation-toggle-button:after {
	content: " Menu";
	font-size: initial;
	opacity: 1;
	transition: opacity 0.4s ease-in;
}

.navigation-close-button {
	color: #000;
	font-size: 0;
	text-decoration: none;
	position: absolute;
	top: 12px;
	right: 24px;
	opacity: 0.2;
}

.navigation-close-button:before {
	content: "\00D7";
	padding: 1em 0 1em 1em;
	font-size: initial;
	opacity: 1;
	transition: opacity 0.4s ease-in;
}

.navigation-close-button:after {
	content: " Close";
	font-size: initial;
	opacity: 1;
	transition: opacity 0.4s ease-in;
}

.navigation-close-button:focus,
.navigation-close-button:hover {
	opacity: 1;
}

.profile-picture {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	overflow: hidden;
}

h2 + .profile-picture {
	padding-top: 0;
}

.profile-picture img {
	max-width: 100%;
	height: inherit;
	margin: 0 auto;
	display: block;
}

.portfolio-piece dl {
	margin-top: 0;
}

.portfolio-piece address dl {
	margin-bottom: 0;
}

.portfolio-piece-figures {
	position: relative;
}


.gallery-controls ul {
	/*height: 100%;*/
	width: 100%;
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.gallery-controls button {
	height: 0;
	width: 0;
	padding: 0;
	border: none;
	font-size: 0;
}

.gallery-controls li {
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	bottom: 0;
}

.gallery-controls li:first-of-type {
	left: 0;
	right: 75%;
}

.gallery-controls li:last-of-type {
	left: 75%;
	right: 0;
	text-align: right;
}

/*.gallery-controls li:first-of-type button {
	float: left;
}

.gallery-controls li:last-of-type button {
	float: right;
}*/

.gallery-controls li:first-of-type button:before, .gallery-controls li:last-of-type button:before {
	padding: 0.5em;
	background-color: transparent;
	color: lightgrey;
	color: rgba(0,0,0,0.2);
	font-size: 48px;
}

.gallery-controls li:first-of-type button:before {
	content: "<";
}

.gallery-controls li:last-of-type button:before {
	content: ">";
}

/* Portfolio Piece Gallery Figure(s) */

.portfolio-piece-figure {
	width: 80%;
	margin: 0 auto;
	padding: 1em;
	overflow: hidden;
	position: relative;
}

.portfolio-piece-figure dd {
	margin-left: 0;
}

.portfolio-piece-figure figcaption {
	height: inherit;
	width: inherit;
	margin: 0 auto;
	padding: inherit;
	font-size: 16px;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	transform: translateX(-110vw);
}

.portfolio-piece-figure:hover figcaption {
	transform: none;
}

.portfolio-piece-figure:hover img {
	opacity: 0.4;
}

.portfolio-piece-figure img {
	max-width: 100%;
	height: inherit;
	margin: 0 auto;
	display: block;
	position: relative;
}

.portfolio-piece-related-link {
	margin-left: 0;
	text-align: center;
}

.back-to-portfolio-navigation-button {
	max-width: 300px;
	margin: 48px auto 0 auto;
	text-align: center;
	display: block;
}

/*closes MODULES*/

/*- 4 - STATE */

.major-navigation, #top:target .major-navigation {
	/* 	When the page loads, or when .navigation-close-button is clicked, slide .major-navigation offscreen to the left */
	transform: translateX(-110vw);
}

#top:target .major-navigation {
	/*When .navigation-close-button is clicked, display the animation in the following way: */
	transition: transform 0.2s ease-in;
}

#major-navigation:target.major-navigation {
	/*When the viewport is resized from above 960px to below 960px wide with .major-navigation activated, delay its jump from "static" to "absolute" in the following way: */
	transform: none;
	transition: transform 0.2s ease-in;
}

#top:target .navigation-close-button {
	/*When the navigation is closed, fade the "Close" button out in the following way: */
	opacity: 0;
	transition: opacity 0.1s ease-in;
}

@media (min-width: 960px) {
	/*When the viewport is 960px wide or wider, fade the Navigation controls out of view in the following way: */
	.navigation-toggle-button:before, .navigation-toggle-button:after, .navigation-close-button, .navigation-close-button:before, .navigation-close-button:after {
		opacity: 0;
		transition: opacity 0.4s ease-in;
	}
}

@media (min-width: 960px) {
	.navigation-toggle-button:focus, #top:target .navigation-toggle-button:focus, .navigation-close-button:focus {
		font-size: initial;
	}

	.social-media-links {
		margin-bottom: 2em;
	}

	.major-navigation {
		border: none;
		background-color: #fff;
	}

	.major-navigation li:first-of-type {
		margin-left: 24px;
	}

	.major-navigation li:last-of-type {
		margin-right: 24px;
	}

	.major-navigation, #top:target .major-navigation {
		/*When the viewport is 960px wide or wider, place .major-navigation back into the flow of the document */
		transform: none;
		position: static;
	}

	.navigation-close-button:focus, #top:target .navigation-close-button:focus {
		opacity: 1;
	}

	.navigation-toggle-button:focus:before, #top:target .navigation-toggle-button:focus:after, .navigation-close-button:focus:before, #top:target .navigation-close-button:focus:before, .navigation-close-button:focus:after, #top:target .navigation-close-button:focus:after {
		display: none;
	}

	main {
		/*When the viewport is 960px wide or wider, make the main element and the navigation's ul 960px wide, and give them both even margins on the left and right */
		width: 960px;
		margin: 0 auto;
	}

	.major-navigation ul {
		width: 960px;
	}

	.major-navigation > ul a {
		width: 288px;
		margin-right: 1em;
		padding-top: 24px;
		padding-right: 0;
		padding-bottom: 24px;
		border: 1px solid #000;
		text-align: center;
		float: left;
	}

	.major-navigation li {
		margin-right: 0;
	}

	.major-navigation > ul li:nth-of-type(2) a {
		border-top: 1px solid #000;
		border-bottom: 1px solid #000;
	}

	.major-navigation > ul li:last-of-type a {
		margin-right: 0;
	}

	body>header h1 {
		/*When the viewport is 960px wide or wider, resize the page's h1 */
		font-size: 3em;
		line-height: 1.2;
	}

	.tagline {
		/*When the viewport is 960px wide or wider, resize the "tagline"*/
		font-size: 1.5em;
		line-height: 1.2; /*43.2px/36px*/
	}
}

@media (max-width: 395px) {
	body>header h1, body>header .tagline, body>header address {
		/*When the viewport is pretty small, shrink down the size of most text in the page's header*/
		font-size: initial;
	}
}

@media (max-width: 379px) {
	p {
		font-size: 0.875em; /*21px/24px*/
	}
}

@media (max-width: 319px) {
	body>header h1 {
		padding-top: 2em;
	}

	p, dt, dd {
		font-size: initial;
	}
}

/*closes STATE*/
